
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
    display:block;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(255, 255, 255);
    padding: 5px;
    
  }
  /*text start*/
  .contheading{
    padding-left: 10%;
  }
  /*text end*/
  /*image start*/
  img {
    max-width:max-content;
    height: auto;
  } 
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } 
  /*image end*/
  /* unvisited link */
  a:link, a:visited <style>
  button {
    padding: : 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;
  }
.btn-4{
    color: #fff;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, 0.5),
    0px 0px 0px 0px rgba(39, 200, 255, 0.5);
}
.btn-4:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.5)
    , -10px 10px 25px 0px rgba(39, 200, 255, 0.5);
}
.btn-4:hover::after {
    transform: rotate(150deg);
}
.btn-4::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: color #ff3cac;;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all 0.25s ease;
}
  
  a:hover, a:active {
    color: white;
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 10;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(203, 154, 154);
    padding: 5px;
    text-align: center;
    color: white;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }